<mat-card>
  <mat-card-title>Visualization Info</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field appearance="fill">
        <mat-label>Nodes</mat-label>
        <mat-select formControlName="nodes" multiple>
          <app-select-check-all [model]="form.get('nodes')" [values]="nodes"></app-select-check-all>
          <mat-option *ngFor="let node of nodes" [value]="node">{{
            node
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Relationships</mat-label>
        <mat-select formControlName="relationships" multiple>
          <app-select-check-all [model]="form.get('relationships')" [values]="relationships"></app-select-check-all>
          <mat-option *ngFor="let relationship of relationships" [value]="relationship">{{
            relationship
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
            mat-raised-button
            color="primary"
            (click)="openStandartGraphComponent()"
          >
            Run <mat-icon>arrow_forward</mat-icon>
          </button>
  </mat-card-actions>
</mat-card>

{{ form.value | json }}
