/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red-snackbar {
    background: #F44336;
    color: black;
}

.red-snackbar button {
    background-color: #F44336;
    color: black !important;
    border: none;
}

.green-snackbar {
    background: rgb(65, 252, 134);
    color: black;
}

.green-snackbar button {
    background-color: rgb(65, 252, 134);
    color: black;
    border: none;
}


.tooltip{
    font-size: 15px;
    white-space: pre-line;

}

